div.formulario {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background: linear-gradient(#bb38b7,#5030dd);
    box-shadow: 9px 9px 20px 2px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h2 {
    color: white;
}

input.entradas , select.entradas {
    width: 100%;
    padding: 7px 0px;

}
label {
    color: white;
}

input.boton{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

 div.botondiv {
   display: flex;
   justify-content: end;
 }

// mobil
@media (min-width: 500px) {
    div.formulario {
        width: 100%;
    }
}

// pantallas grandes
@media (min-width: 1200px) {
    div.formulario {
        width: 300px;
    }
}
